@import "./reset.scss";

@font-face {
  font-family: 'NIXGONM-Vb';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'NIXGONM-Vb';
  background-color: #F3F6FF;
  height: 100vh;
  max-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  background-color: #fff;
  width: 90%;
  height: 90%;

  font-size: 14px;
  // font-weight: 600;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 1fr .6fr 10fr;

  .menu {
    display: grid;
    grid-template-columns: .6fr repeat(4, .8fr) 1.2fr repeat(4, .8fr) .6fr;
    // align-items: center;
    // justify-items: center;

    div {
      display: flex;
      justify-content: center;
      align-items: center;

      &:not(:last-child) {
        border-right: 1px solid black;
      }
    }

    .grid-column11 {
      display: grid;
      grid-template-columns: repeat(5, .8fr) 1fr repeat(5, .8fr);
      align-items: center;
      font-size: 11px;
    }

    .hamburger {
      display: flex;
      justify-content: center;

      img {
        width: 20px;
        height: 20px;
      }
    }

    .logo {
      font-size: 25px;

    }

    .bag {
      img {
        width: 20px;
        height: 20px;
      }
    }

  }

  .under-menu {
    display: grid;
    border-top: 1px solid black;



    p {
      color: #fff;

    }

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 28px;
      gap: 10px;


      li:nth-child(5) {
        color: #999999;
      }
    }
  }

  main {
    border: 1px solid black;
    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-template-columns: repeat(5, 1fr) 1.5fr repeat(5, 1fr);

    .left-image-box {
      grid-row: span 2;
      grid-column: span 5;
      background-color: red;

      img {

        // width: 600px;
        // height: 700px;
        // object-fit: contain;
      }
    }

    .right-deal {
      border: 1px solid black;
      grid-column: span 6;
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: center;
      font-weight: 700;



      h1 {
        font-weight: 600;
        font-size: 35px;
      }

      ul {
        display: flex;
        font-size: 24px;
        gap: 20px;

        li:nth-child(3) {
          font-size: 15px;
          color: #fff;
          background-color: tomato;
        }
      }
    }

    .right-left {
      background-color: rgb(47, 41, 155);
    }

    .right-right {
      grid-column: span 3;
      background-color: yellow;
    }
  }

}